[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = ../../TheCherno/glfw.git
	branch = master
[submodule "GameEngine/vendor/imgui"]
	path = GameEngine/vendor/imgui
	url = ../../TheCherno/imgui.git
	branch = docking
[submodule "GameEngine/vendor/glm"]
	path = GameEngine/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "GameEngine/vendor/yaml-cpp"]
	path = GameEngine/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
